<!DOCTYPE html>
<html>
    <head> </head>
    <body>
        <form action="/diretorEdit" method="post">
          <input type="hidden" name="id" value="{{diretor._id}}">
            <p> Login: <input type="text" name="loginDiretor" value="{{diretor.loginDiretor}}"> </p>
            <p> Senha: <input type="text" name="senhaDiretor" value="{{diretor.senhaDiretor}}"> </p>
            <p> Nome: <input type="text" name="nomeDiretor" value="{{diretor.nomeDiretor}}"> </p>
            <p> Cidade: <input type="text" name="cidadeDiretor" value="{{diretor.cidadeDiretor}}"> </p>
            <p> Bairro: <input type="text" name="bairroDiretor" value="{{diretor.bairroDiretor}}"> </p>
            <p> Rua: <input type="text" name="ruaDiretor" value="{{diretor.ruaDiretor}}"> </p>
            <br><br>
          <input type="submit" value="Salvar">
        </form>
    </body>
</html>