<!DOCTYPE html>
<html>
    <head> </head>
    <body>
        <form action="/matriculaEditAdm" method="post">
                <h1>Cadastros</h1> <br> <br>
            <input type="hidden" name="id" value="{{matriculas.id}}">
            <p> nome: <input type="text" name="nome" value="{{matriculas.nome}}"> </p>

            <p> nome_pai: <input type="text" name="nome_pai" value="{{matriculas.nome_pai}}"> </p>

            <p> Rg: <input type="text" name="rg" value="{{matriculas.rg}}"> </p>

            <p> bairro: <input type="text" name="bairro" value="{{matriculas.bairro}}"> </p>

            <p> endereco: <input type="text" name="endereco" value="{{matriculas.endereco}}"> </p>

            <p> fone: <input type="text" name="fone" value="{{matriculas.fone}}"> </p>

            <p> comprovante_res: <input type="text" name="comprovante_res" value="{{matriculas.comprovante_res}}"> </p>

            
            <p> status: <input type="text" name="status" value="{{matriculas.status}}"> </p>

           <p> Data Cadastro: <input type="text" name="status" value="{{matriculas.status}}"> </p>

           <p> codigo Crianca: <input type="text" name="Id_Crianca" value="{{matriculas.Id_Crianca}}"> </p>

            <input type="submit" value="Salvar">
        </form>
    </body>
</html>