<br><br>
<table class="table table-hover" border="1px" style="width: 45%; text-align: center;">
    <h1>Relatório de Creches</h1>
    <br>
  <thead>
    <tr>
      <th scope="col">Nome da Creche</th>
      <th scope="col">Nome do Diretor</th>
      <th scope="col">Bairro</th>
      <th scope="col">Rua</th>
      <th scope="col">Cidade</th>
      <th scope="col">Telefone</th>
    </tr>
  </thead>
    {{#each creches}}
    <tr>
        <td>{{nome_Creche}}</td>
        <td>{{diretor_creche}}</td>
        <td>{{bairro}}</td>
        <td>{{rua}}</td>
        <td>{{cidade}}</td>
        <td>{{fone}}</td>
    </tr>
    {{/each}}
</table>