<table border="1px">
        <H1>Acompanhamento de Matriculas</H1>
    <tr>
        <td> Codigo</td>
        <td> Nome Crianca </td>
        <td> Nome Pai</td>
        <td> RG </td>
        <td> Bairro</td>
        <td> Endereco</td>
        <td> Fone</td>
        <td> Comprovante Residencia</td>
        <td> Status</td>
        <td> Data de Cadastro</td>
    </tr>
    {{#each matriculas}}
    <tr>
       <td>{{id}}</td>
        <td  scope="row">{{nome}}</td>
        <td>{{nome_pai}}</td>
        <td>{{rg}}</td>
        <td>{{bairro}}</td>
        <td>{{endereco}}</td>
        <td>{{fone}}</td>
        <td> <image width="50px" heigth="50px"  src="../uploads/{{comprovante_res}}.png"></td>
        <td>{{status}}</td>
        <td>{{createdAt}}</td>
    </tr>
    {{/each}}
</table>